/** aardvark -- icons
* $Id$

----------icons for links----------*/
.comment_comments A
{
	background: url('icons/comment.png') no-repeat 0 2px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.node_read_more A
{
	background: url('icons/page_white_go.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}
.comment_add A, .comment_reply A
{
	background: url('icons/comment_add.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}
.comment_delete A
{
	background: url('icons/comment_delete.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}
.comment_edit A
{
	background: url('icons/comment_edit.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}
.blog_usernames_blog A
{
	background: url('icons/user_comment.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}
.book_printer A
{
	background: url('icons/printer.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}
.book_add_child A
{
	background: url('icons/page_add.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}
