@import url("icons.css");
/**
* aardvark -- $Id$

reset default styles*/
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, A, EM, FONT, IMG, DL, DT, DD, OL, UL, LI, FORM, LABEL, LEGEND, TABLE, TBODY, TFOOT, THEAD, TR, TH, TD
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 98%;
	font-family: inherit;
	vertical-align: baseline;
}
BODY
{
	font-family: Verdana, Helvetica, sans-serif;
	line-height: 1;
	color: #444444;
	background: #7E7672;
}
H1, H2, H3, H4, H5, H6
{
	font-weight: normal;
	margin: 0;
	padding: 0;
}
H1
{
	font-size: 1.6em;
	margin: 0 0 0.5em;
	padding: 0;
}
H2
{
	font-size: 1.4em;
	margin: 0 0 0.5em;
}
A
{
	color: #6E7A97;
	text-decoration: none;
}
A:hover
{
	color: #75819D;
	text-decoration: none;
}
H1.siteName A
{
	color: #FFFFFF;
}
H1.siteName A:hover
{
	color: #917E7A;
}
DIV.loginbut A
{
	background: url('images/button-signin.png') no-repeat 1px 2px;
	overflow: hidden;
	padding: 1px 85px 19px 0px;
	height: 0px;
	margin-left: 265px;
}
DIV.logoffbut A
{
	background: url('images/button-logoff.png') no-repeat 1px 2px;
	padding: 1px 85px 19px 0px;
	height: 17px;
	margin-left: 265px;
}
DIV.loginbut A:hover
{
	background: url('images/button-signin-hover.png') no-repeat 1px 2px;
	padding: 1px 85px 19px 0px;
	height: 0px;
}
DIV.logoffbut A:hover
{
	background: url('images/button-logoff-hover.png') no-repeat 1px 2px;
	padding: 1px 85px 19px 0px;
	height: 17px;
	margin-left: 265px;
}
IMG, A IMG
{
	border: none;
}
P
{
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 12px;
	padding: 0;
}
:focus
{
	outline: 0;
}
DIV.breadcrumb SPAN.bcrum
{
	background: url('images/bcrum.gif') no-repeat;
	width: 28px;
	padding: 0px 14px 1px 0px;
	margin-left: 3px;
	opacity: 0.6;
}
DIV.inline_areas SPAN
{
	width: 175px;
	padding: 0px 154px 89px 0px;
	margin-top: 0px;
	background-color: #A58F8F;
}
DIV.inline_areas DIV
{
	float: left;
	width: 200px;
	height: 96px;
}
DIV.inline_areas DIV#under_header_one
{
	background: url('images/imagemap1.png');
}
DIV.inline_areas DIV#under_header_two
{
	background: url('images/imagemap2.png');
}
DIV.inline_areas DIV#under_header_three
{
	background: url('images/imagemap3.png');
}
DIV.inline_areas DIV#under_header_four
{
	background: url('images/imagemap4.png');
}
DIV.inline_areas DIV#under_header_five
{
	background: url('images/imagemap5.png');
}
DIV.imagehere
{
}
P.imagehere
{
	color: #FFFFFF;
	padding: 0px;
	font-size: 7.9pt;
	line-height: 1;
	font-weight: bold;
	margin-top: 0px;
	margin: 10px;
	background: transparent;
}
#sidebar_left H2.title
{
	background: url(images/menu_head.png) no-repeat;
	height: 33px;
	margin-top: -8px;
	padding-top: 3px;
	width: 210px;
	padding-left: 12px;
	margin-left: -10px;
	font-weight: bold;
	color: #FFFFFF;
}
#sidebar_leftfront H2.title
{
	background: url(images/menu_head.png) no-repeat;
	height: 33px;
	margin-top: -18px;
	padding-top: 3px;
	width: 210px;
	padding-left: 12px;
	margin-left: -10px;
	font-weight: bold;
	color: #FFFFFF;
}
#sidebar_right H2.title
{
	background: url(images/menu_head.png) no-repeat;
	height: 33px;
	margin-top: -8px;
	padding-top: 3px;
	width: 210px;
	padding-left: 12px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: -12px;
}
#sidebar_rightfront H2.title
{
	background: url(images/menu_head.png) no-repeat;
	height: 33px;
	margin-top: -18px;
	padding-top: 3px;
	width: 210px;
	padding-left: 12px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: -12px;
}
DIV#login_buttons
{
	padding-left: 584px;
	padding-top: 5px;
}
DIV#sidebar_right
{
	float: left;
	width: 180px;
	margin-left: 31px;
}
DIV#sidebar_rightfront
{
	float: left;
	width: 180px;
	margin-left: 31px;
}
.clear
{
	clear: both;
}
.wrapper
{
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 1024px;
}
SPAN.form-required
{
	color: #FFAE00;
}
INPUT
{
	font: 12px/100% Arial;
	color: #494949;
}
TEXTAREA, SELECT
{
	font: 12px/160% Arial;
	color: #494949;
}
OL, UL
{
	margin: 1em 0;
	padding: 0 0 0 32px;
}
.preview
{
	background-color: #FCFCE8;
	border: 1px solid #E5E58F;
	margin: 0;
	padding: 8px;
}
#container
{
	background: #FFF;
	width: 99%;
	margin: 0 auto;
	padding: 0;
}
/*----------header styles----------*/
#header
{
	background: #FDFDFD url('images/header_bg.png') repeat-x left top;
	height: 191px;
	width: 100%;
	margin: 0;
	padding: 0;
}
#front_images
{
	background: #FDFDFD repeat-x left top;
	height: 106px;
	width: 100%;
	margin: 0;
	padding: 0px 0 0;
}
#header H1
{
	color: #441F19;
	font-family: "Courier New";
	font-size: 61px;
	font-weight: bold;
	margin: 0;
	padding: 42px 0 0 25px;
	width: 950px;
}
#header H2
{
	font-size: 15px;
	margin: 4px 0 0;
	padding: 6px 0 0 6px;
	width: 950px;
	font-weight: bold;
}
#header .siteName
{
	font-style: normal;
	line-height: 1;
	margin: -10px 0 10px 15px;
	width: 960px;
}
#header .siteSlogan
{
	font-family: Cambria;
	font-style: normal;
	line-height: 1;
	margin: -10px 0 10px 35px;
	width: 960px;
}
DIV.wrapper DIV.centerheader
{
	background: url(images/header.png) no-repeat;
	height: 190px;
}
#header .wrapper
{
	height: 160px;
}
/*----------navbar styles - primary links----------*/
#navbar
{
	height: 31px;
	margin: 0;
	padding: 0;
	width: 100%;
	/*+placement:shift 3px 2px;*/
	position: relative;
	left: 3px;
	top: 2px;
}
DIV#topofheader
{
	height: 40px;
	padding-top: 20px;
	background-color: #F1EDEA;
}
#navbar .wrapper
{
	height: auto;
}
/*----------navtabs - primary links - styles----------*/
#navtabs
{
	color: #666;
	float: left;
	font-family: Cambria;
	font-size: 12px;
	font-weight: normal;
	list-style-type: none;
}
UL#navtabs
{
	margin: 9px 0 0;
	padding: 0;
}
#navtabs LI
{
	margin: 0;
	padding: 0 0 0 12px;
	background: transparent url('images/tab1a.gif') no-repeat scroll left top;
	float: left;
	list-style-type: none;
}
#navtabs LI A
{
	padding: 5px 14px 2px 4px;
	background: transparent url('images/tab1.gif') no-repeat scroll right top;
	color: #E6D8D8;
	display: block;
	text-decoration: none;
}
#navtabs LI.cur, #navtabs LI.over, #navtabs LI:hover
{
	background: transparent url('images/tab2a.gif') no-repeat scroll left top;
}
#navtabs LI STRONG, UL#navtabs LI.cur A, UL#navtabs LI.over A, UL#navtabs LI:hover A
{
	padding: 5px 14px 2px 4px;
	background: transparent url('images/tab2.gif') no-repeat scroll right top;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
UL#navtabs LI UL
{
	border-top: 1px solid #D9D5CA;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
	left: 367px;
	position: absolute;
	top: 250px;
	width: 310px;
}
/*----------main content styles----------*/
#mainContent
{
	background: #FFF;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 8px 0;
}
.contentLeft
{
	background: inherit;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 10px 0 0;
	width: 578px;
}
/*----------footer styles----------*/
#footer
{
	background: url('images/prefooters.png') repeat-x left top;
	color: #EEE;
	height: auto;
	margin: 0;
	padding: 0 0 72px;
	width: 100%;
}
#footer A
{
	color: #FDF7E9;
}
#footer .columnLeft, #footer .columnMiddle, #footer .columnRight
{
	background: #3B4B6F none repeat scroll 0%;
	border: 1px solid #2D3D61;
	float: left;
	height: auto;
	margin: 30px 10px 0 0;
	padding: 0 20px;
	width: 272px;
}
#footer H2
{
	border-bottom: 1px solid #AAA;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12.3px;
	line-height: 17px;
	margin: 10px 0;
	padding: 0;
}
.footerMessage
{
	background: #F1EDEA none repeat scroll 0%;
	color: #333333;
	margin: 0 auto;
	padding: 0px 0 10px;
	text-align: center;
	width: 100%;
}
DIV#container DIV.footerMessage
{
}
/*---------- page styles----------*/
.pageTitle
{
	font-family: "Book Antiqua", "Times New Roman", Times, serif;
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 0.25em;
}
.mission
{
	background: #FFF url('images/block-bg.jpg') repeat-x scroll bottom right;
	border: 1px solid #E0D9D9;
	color: #333;
	font-size: 1em;
	line-height: 1.35em;
	margin: 0.32em 0 0.85em;
	padding: 1em;
	width: 520px;
}
.breadcrumb
{
	margin: 0.32em 0;
	padding: 0;
}
.messages
{
	color: #C80000;
	font-size: 1.1em;
	margin: 0.75em 0;
	padding: 0.5em 1em;
}
.messages UL
{
	margin: 0;
}
/*----------node styles----------*/
.node, .nodePage
{
	border-top: 1px solid #FFF;
	margin: 0 0 1.5em;
	padding: 10px 10px 0;
}
.nodePage
{
	padding: 4px 10px 0px;
}
.node:hover, .nodePage
{
	background: #FFF url('images/node-bg.png') repeat-x top left;
	border-top: 1px solid #E4E4E4;
}
H3, H4, H5, H6, .nodeTitle A
{
	color: #013466;
	font-family: "Book Antiqua", "Times New Roman", Times, serif;
	font-size: 1.5em;
}
.nodeTitle A:hover
{
	color: #3670A8;
	text-decoration: none;
}
.taxonomy
{
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	color: #909090;
	clear: left;
	font-size: 1em;
	margin: 0;
	padding: 0 0 0.3em 0.5em;
}
.submitted
{
	color: #909090;
	font-size: 1em;
	margin: 0 0 2px;
	padding: 0;
}
.node .content
{
	padding: 6px 0 0;
}
.node .links
{
	font-size: 14px;
	padding: 0 0 0.35em;
	margin: 0;
}
.picture
{
	float: right;
	padding-right: 1em;
}
.preview .node
{
	padding: 0.75em;
}
/*----------block styles----------*/
.block
{
	margin: 0 0 1.5em;
	padding: 0;
}
DIV#sidebar_left
{
	float: left;
	width: 180px;
}
DIV#sidebar_leftfront
{
	float: left;
	width: 180px;
}
.block-region
{
	background-color: #FFFF66;
	color: #333;
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 3px;
}
.footerMessage .block
{
	margin: 0;
	padding: 0;
}
/*----------comment styles----------*/
.commentTitle
{
	font-size: 1.25em;
}
.comment
{
	background-color: #F7F7F7;
	border: 1px solid #CCC;
	margin: 0 0 2em;
	padding: 1em;
}
H2.comments
{
	font-family: "Book Antiqua", "Times New Roman", Times, serif;
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 0.25em;
}
BLOCKQUOTE
{
	margin: 0;
	padding: 0 0 8px;
}
BLOCKQUOTE P
{
	background: url('images/close-quote.gif') no-repeat right bottom;
	color: #30457E;
	font-family: serif;
	margin: 10px 20px;
	padding-left: 18px;
	text-indent: -18px;
	width: 400px;
}
BLOCKQUOTE P:first-letter
{
	background: url('images/open-quote.gif') no-repeat left top;
	padding-left: 18px;
}
/*----------misc. styles----------*/
HR
{
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #5294C1;
}
DL
{
	margin: 0.5em 0 1em 1.5em;
}
DL DD
{
	margin: 0 0 0.5em 1.5em;
}
DT
{
	font-size: 1em;
	margin: 0.65em 0 0;
}
DL
{
	margin: 0.5em 0 1em 1.5em;
}
DL DD
{
	margin: 0 0 0.5em 1.5em;
}
SPAN.form-required
{
	color: #FFAE00;
}
.description
{
	font-size: 0.92em;
	color: #5A5A5A;
	margin-bottom: 0.75em;
}
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item
{
	margin: 0.25em 0;
}
#center FORM
{
	margin-bottom: 2em;
}
.form-button, .form-submit
{
	margin: 0.5em 0.5em 1em 0;
}
#watchdog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, FIELDSET .form-button, FIELDSET .form-submit, .sidebar .form-button, .sidebar .form-submit, TABLE .form-button, TABLE .form-submit
{
	margin: 0;
}
.box
{
	margin-bottom: 2.5em;
}
DIV.admin
{
	margin: 0;
	padding: 0;
}
.user-signature
{
	color: #949494;
	font-family: Cursive, sans;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
/**
* Admin Styles
 */
DIV.admin-panel, DIV.admin-panel .description, DIV.admin-panel .body, DIV.admin, DIV.admin .left, DIV.admin .right, DIV.admin .expert-link, DIV.item-list, .menu
{
	margin: 0;
	padding: 0;
}
DIV.admin .left
{
	float: left;
	width: 48%;
}
DIV.admin .right
{
	float: right;
	width: 48%;
}
DIV.admin-panel
{
	padding: 1em 1em 1.5em;
}
DIV.admin-panel .description
{
	margin-bottom: 1.5em;
}
DIV.admin-panel DL
{
	margin: 0;
}
DIV.admin-panel DD
{
	color: #898989;
	font-size: 0.92em;
	line-height: 1.3em;
	margin-top: -0.2em;
	margin-bottom: 0.65em;
}
/*----------list styles----------*/
UL
{
	margin: 0.5em 0 1em;
	padding: 0;
}
OL
{
	margin: 0.75em 0 1.25em;
	padding: 0;
}
OL LI, UL LI
{
	margin: 0.4em 0 0.4em 0.5em;
}
UL.menu, .item-list UL
{
	line-height: 1.2em;
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
}
UL.menu UL, .item-list UL UL
{
	margin-left: 0em;
}
OL LI, UL LI, UL.menu LI, .item-list UL LI, LI.leaf
{
	margin: 0.15em 0 0.15em 0.5em;
}
UL LI, UL.menu LI, .item-list UL LI, LI.leaf
{
	padding: 0 0 0.2em 1.5em;
	list-style-type: none;
	list-style-image: none;
	background: transparent url('images/menu-leaf.gif') no-repeat 1px 0.35em;
}
OL LI
{
	padding: 0 0 0.3em;
	margin-left: 2em;
}
UL LI.expanded
{
	background: transparent url(images/menu-expanded.gif) no-repeat 1px 0.35em;
}
UL LI.collapsed
{
	background: transparent url(images/menu-collapsed.gif) no-repeat 0px 0.35em;
}
UL LI.leaf A, UL LI.expanded A, UL LI.collapsed A
{
	display: block;
}
UL.inline LI
{
	background: none;
	margin: 0;
	padding: 0 1em 0 0;
}
OL.task-list
{
	margin-left: 0;
	list-style-type: none;
	list-style-image: none;
}
OL.task-list LI
{
	padding: 0.5em 1em 0.5em 2em;
}
OL.task-list LI.active
{
	background: transparent url(images/task-list.png) no-repeat 3px 50%;
}
OL.task-list LI.done
{
	color: #393;
	background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;
}
OL.task-list LI.active
{
	margin-right: 1em;
}
FIELDSET UL.clear-block LI
{
	margin: 0;
	padding: 0;
	background-image: none;
}
UL.primary, UL.primary LI, UL.secondary
{
	border-bottom: 1px solid #BBBBBB;
	background: none;
	height: auto;
	margin: 5px;
	padding: 0;
}
UL.secondary LI
{
	background: none;
	border-right: 1px solid #CCCCCC;
	display: inline;
	padding: 0 1em;
}
UL.links LI
{
	background: none;
	list-style: none;
	margin: 0 1em 0 0;
	padding: 0;
}
/*---------------user-login-form---remove center alignment---------------*/
#user-login-form
{
	margin: 0;
	padding: 0 0 0 10px;
	text-align: left;
}
.form-item
{
	text-align: left;
	margin: 0;
	padding: 0;
}
/*---------------TinyMCE editor---------------*/
BODY.mceContentBody
{
	background: #FFF;
	color: #000;
	font-size: 14px;
}
BODY.mceContentBody A:link
{
	color: #FF0000;
}
/*---------------table styles---------------*/
TABLE
{
	margin: 1em 0;
	width: 100%;
}
THEAD TH
{
	border-bottom: 2px solid #AAAAAA;
	color: #494949;
	font-weight: bold;
}
TD, TH
{
	padding: 0.3em 0 0.5em;
}
TR.even, TR.odd, TBODY TH
{
	border: 1px solid #D5D6D7;
	border-width: 1px 0;
}
TR.even
{
	background-color: #FFF;
}
TD.region, TD.module, TD.container
{
	background-color: #FDF4DD;
	border-bottom: 1px solid #AAAAAA;
	border-top: 1.5em solid #FFF;
	color: #455067;
	font-weight: bold;
}
TR:first-child TD.region, TR:first-child TD.module, TR:first-child TD.container
{
	border-top-width: 0;
}
TD.menu-disabled, TD.menu-disabled A
{
	background-color: #D5C2C2;
	color: #000;
}
TD.active
{
	background-color: #F7F7F7;
}
/**
* Watchdog.module
 */
TR.watchdog-user
{
	background-color: #FCF9E5;
}
TR.watchdog-user TD.active
{
	background-color: #FBF5CF;
}
TR.watchdog-content
{
	background-color: #FEFEFE;
}
TR.watchdog-content TD.active
{
	background-color: #F5F5F5;
}
TR.watchdog-warning
{
	background-color: #FDF5E6;
}
TR.watchdog-warning TD.active
{
	background-color: #FDF2DE;
}
TR.watchdog-error
{
	background-color: #FBE4E4;
}
TR.watchdog-error TD.active
{
	background-color: #FBDBDB;
}
TR.watchdog-page-not-found, TR.watchdog-access-denied
{
	background: #D7FFD7;
}
TR.watchdog-page-not-found TD.active, TR.watchdog-access-denied TD.active
{
	background: #C7EEC7;
}
/**
* Status report colors.
 */
TABLE.system-status-report TR.error, TABLE.system-status-report TR.error TH
{
	background-color: #FCC;
	border-color: #EBB;
	color: #200;
}
TABLE.system-status-report TR.warning, TABLE.system-status-report TR.warning TH
{
	background-color: #FFD;
	border-color: #EEB;
}
TABLE.system-status-report TR.ok, TABLE.system-status-report TR.ok TH
{
	background-color: #DFD;
	border-color: #BEB;
}
.view-content-cal .odd
{
	background-color: #FFF;
}
